# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/
env/

# IDE (PyCharm / IntelliJ)
.idea/
*.iml

# Jupyter
.ipynb_checkpoints/

# ML artifacts
artifacts/
models/
logs/
data/

# OS files
.DS_Store
Thumbs.db
